.movie-detail {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background: #1e1e1e;
  border: 1px solid #e91e63; // borde fucsia
  border-radius: 12px;
  color: #EAEAEA;

  img {
    border-radius: 10px;
    max-width: 200px;
    box-shadow: 0 4px 12px rgba(233, 30, 99, 0.4);
  }

  .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    h2 {
      color: #e91e63;
    }

    p {
      margin: 0;
      line-height: 1.5;
    }
  }
}
